@page "/admin"

<p>
    <NavLink class="btn btn-primary" href="create-user">Add User</NavLink>
    <NavLink class="btn btn-primary" href="create-role">Create Role</NavLink>
    <NavLink class="btn btn-primary" href="manage-role">Manage Roles</NavLink>
</p>
