@page "/admin"

<PageTitle>Admin Page</PageTitle>

<h1> Admin Page</h1>
<br />
<br />
<br />
<br />
<br />




    <MudButton Href = "create-user" Variant ="Variant.Filled" EndIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Add User</MudButton>
    <MudButton Href = "create-role" Variant ="Variant.Filled" EndIcon="@Icons.Material.Filled.Person" Color="Color.Primary">Create Role</MudButton>
    <MudButton Href = "manage-role" Variant ="Variant.Filled" EndIcon="@Icons.Material.Filled.ManageAccounts" Color="Color.Primary">Manage Role</MudButton>


    
    @if (users is not null) {
        <MudTable Items="@users" ></MudTable>
    }