@using SleepWellApp.Client.Pages
<MudItem>
    <MudPaper Class="pa-16 ma-2" Square="true" Height="380px" Width="450px">
        <h3>Journal Entry <br />@dateNow</h3><br />
        <MudTextField @bind-Value="@EntryContent" Lines="5" Label="Read Only" ReadOnly="true" Variant="Variant.Text" />
        <MudButton Class="mt-3 mb-5 align-center" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Save" Color="Color.Primary" >Delete</MudButton>
    </MudPaper>
</MudItem>
