@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
  
    <main>
        <div class="top-row px-4 auth" style="color: white; background: @(GetCurrentBackgroundColor())">
            <MudIcon Icon="@Icons.Material.Outlined.NightsStay" Size="Size.Large" />
            <MudSwitch Class="dark-mode-switch" Checked="_isDarkMode" Color="Color.Secondary" @onclick="ToggleDarkMode" />
            <LoginDisplay />
            <a style="color: white" href="https://github.com/AnujPatel99/SleepWellApp/" target="_blank"><MudIcon Icon="@Icons.Material.Outlined.Code" Size="Size.Large" /></a>
        </div>
         
        <article class="content px-4">
            <MudDialogProvider />
            <MudSnackbarProvider />

            <MudThemeProvider Theme="_themeManager.Theme" />
            <MudLayout>
                <MudMainContent>
                    @Body
                </MudMainContent>
            </MudLayout>
        </article>
    </main>
</div>

@code {
    private ThemeManagerTheme _themeManager = new ThemeManagerTheme();
    private bool _isDarkMode = false;

    private void ToggleDarkMode()
    {
        _isDarkMode = !_isDarkMode;

        _themeManager.Theme = _isDarkMode
            ? new MudTheme()
            {
                Palette = new Palette()
                {
                    Black = "#1f1f1f", // Adjust black color
                    Background = "#2b2b2b", // Adjust background color
                    Surface = "#363636", // Adjust surface color
                    AppbarBackground = "#363636", // Adjust appbar background color
                    DrawerBackground = "#363636", // Adjust drawer background color
                    DrawerText = "rgba(255,255,255, 0.87)", // Adjust drawer text color
                    DrawerIcon = "rgba(255,255,255, 0.87)", // Adjust drawer icon color
                    AppbarText = "rgba(255,255,255, 0.87)", // Adjust appbar text color
                    TextPrimary = "rgba(255,255,255, 0.87)",
                    TextSecondary = "rgba(255,255,255, 0.70)"
                }
            }
            : new MudTheme(); // Reset to default theme

        StateHasChanged();
    }

    private string GetCurrentBackgroundColor()
    {
        return _isDarkMode ? "#2b2b2b" : "#87CEEB";
    }

    protected override void OnInitialized()
    {
        _themeManager.Theme = new MudTheme(); // Set default theme on initialization
        StateHasChanged();
    }
}
