@inherits LayoutComponentBase

<div class="page">
    <div style="background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(188,181,219,1) 50%, rgba(148,187,233,1) 100%);" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth " style="color:white; background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(188,181,219,1) 50%, rgba(148,187,233,1) 100%);">
            <MudButton style="color:white" OnClick="ToggleDarkMode">Toggle Dark Mode</MudButton>
            <LoginDisplay />
            <a style="color:white" href="https://github.com/AnujPatel99/SleepWellApp/" target="_blank">GitHub</a>
        </div>

        <article class="content px-4">
            <MudDialogProvider />
            <MudSnackbarProvider />

            <MudThemeProvider Theme="_themeManager.Theme" />
            <MudLayout>
                <MudMainContent>
                    @Body
                </MudMainContent>
            </MudLayout>
        </article>
    </main>
</div>

@code {
    private ThemeManagerTheme _themeManager = new ThemeManagerTheme();
    private bool _isDarkMode = false;

    private void ToggleDarkMode()
    {
        _isDarkMode = !_isDarkMode;

        _themeManager.Theme = _isDarkMode
            ? new MudTheme()
            {
                Palette = new Palette()
                {
                    Black = "#121212",
                    Background = "#121212",
                    Surface = "#121212",
                    AppbarBackground = "#121212",
                    DrawerBackground = "#121212",
                    DrawerText = "rgba(255,255,255, 0.70)",
                    DrawerIcon = "rgba(255,255,255, 0.70)",
                    AppbarText = "rgba(255,255,255, 0.70)",
                    TextPrimary = "rgba(255,255,255, 0.87)",
                    TextSecondary = "rgba(255,255,255, 0.70)"
                }
            }
            : new MudTheme(); // Reset to default theme

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        _themeManager.Theme = new MudTheme(); // Set default theme on initialization
        StateHasChanged();
    }
}
