@page "/likedaudio"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using SleepWellApp.Shared

@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>
<div>
<ul>
    @foreach (var audioId in audioIds)
    {
        <li>@audioId</li>
    }
</ul>

</div>
